.hero {
  display: flex;
  height: 77vh;
  margin-top: 6rem;

  .left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;

    .name {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      & > :nth-child(1) {
        color: var(--black);
        font-weight: bold;
        font-size: 3rem;
      }

      & > :nth-child(2) {
        color: var(--orange);
        font-weight: bold;
        font-size: 3rem;
      }

      & > :nth-child(3) {
        font-weight: 100;
        font-size: 14px;
        color: var(--gray);
        margin-top: 10px;
      }
    }

    .button {
      width: 8rem;
      height: 3rem;
    }

    .icon {
      margin-top: 1rem;
      display: flex;
      gap: 0rem;

      & > * {
        transform: scale(0.5);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .right {
    flex: 1;
    position: relative;

    .boy {
      width: 285px;
      height: 406px;
    }

    & > * {
      position: absolute;
      z-index: 1;
    }

    & > :nth-child(1) {
      transform: scale(0.69);
      left: -15%;
      top: -9%;
    }
    & > :nth-child(2) {
      top: -4.6rem;
      transform: scale(0.67);
      left: -3rem;
    }
    & > :nth-child(3) {
      transform: scale(1.4);
      left: 28%;
    }
    & > :nth-child(4) {
      transform: scale(0.62);
      top: -19%;
      left: -24%;
      border-radius: 50%;
      padding: 0;
    }

    .blur {
      position: absolute;
      width: 22rem;
      height: 14rem;
      border-radius: 50%;
      background: #edd0ff;
      filter: blur(212px);
      z-index: -9;
      top: -18%;
      left: 56%;
      filter: blur(72px);
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {
    flex-direction: column;
    height: 50rem;
    gap: 7rem;

    .blur {
      display: none;
    }

    .right {
      transform: scale(0.8);
      left: -3rem;

      .floating-div {
        &:nth-of-type(1) {
          top: -7rem !important;
        }
      }
    }
  }
}
