.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-bottom: 13rem;
  /* scroll view */
  padding-top: 3rem;

  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }

  .left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    /* gap: 20px; */

    & > :nth-child(1) {
      color: var(--black);
      font-size: 2.5rem;
      font-weight: bold;
    }

    & > :nth-child(2) {
      color: var(--orange);
      font-size: 2.5rem;
      font-weight: bold;
    }

    & > :nth-child(3) {
      color: var(--gray);
      font-size: 14px;
      margin-top: 1rem;
    }

    .button {
      width: 10rem;
      height: 3rem;
      margin-top: 1rem;
    }

    .s-blur1 {
      top: 13rem;
      left: -18rem;
    }
  }

  .right {
    position: relative;

    & > * {
      position: absolute;
    }

    .card {
      width: 10rem;
      height: auto;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      text-align: center;
      background: rgba(255, 255, 255, 0.26);
      border: 7px solid var(--orangeCard);
      box-shadow: var(--boxShadow);
      border-radius: 20px;
      padding: 0px 26px 2rem 26px;

      .heading {
        color: var(--gray);
        font-size: 16px;
      }

      img {
        transform: scale(0.6);
        margin-bottom: -2rem;
      }

      .button {
        background: #ffffff;
        box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
        border-radius: 7px;
        border: none;
        padding: 10px;
        font-size: 16px;
        color: #5290fd;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }

    .s-blur2 {
      left: 14rem;
      top: 8rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: 15rem;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;

    .left {
      width: 100%;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 17rem;

      & > * {
        position: static;
      }
      .card {
        width: auto;
      }

      .middle {
        margin-top: 5rem;
        margin-bottom: 3rem;
      }
    }
  }
}
