.testimonials {
  padding: 0 3rem 0 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }

  .heading {
    align-self: start;

    & > * {
      font-size: 2rem;
      font-weight: bold;
    }

    span:nth-of-type(2) {
      color: var(--orange);
    }

    .t-blur1 {
      left: 38rem;
      top: 16rem;
    }
    .t-blur2 {
      top: 9rem;
      left: 0;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 12rem;
    /* styles same as work.css */
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;

    img {
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
    }

    span {
      color: var(--gray);
    }
  }

  .swiper {
    width: 100%;
    height: 70%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .testimonials {
    padding: 0;

    .card {
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
