@import './variabels';
@import './globals';

@import './navbar';
@import './hero';
@import './floatingDiv';
@import './Services';
@import './experience';
@import './works';
@import './portfolio';
@import './testimonials';
@import './contact';
